@page "/"

@using ViewModels
@using Data
@inject IFetchDataViewModel fetchDataViewModel
@inject IListDataViewModel listDataViewModel

<EjsListView ShowCheckBox="true"
             DataSource="@(listDataViewModel.ListviewItems)"
             ShowHeader="true"
             HeaderTitle="Listview header"
             Height="300">
    <ListViewFieldSettings Id="Id" Text="DocumentTypeName" IsChecked="IsChecked"></ListViewFieldSettings>
    <ListViewEvents TValue="ListviewItemModel" Selected="@((e) => SelectedItem = e.Text)"></ListViewEvents>
</EjsListView>
<br />
<h4>Current Selected item: <span id="selected-item">@SelectedItem</span></h4>

@code {
    string SelectedItem = "";
    protected override async Task OnInitializedAsync()
    {
        await listDataViewModel.GetListItemsAsync();
    }
}