@page "/"
@using Data
@using Components

@inherits IndexBase


<ListviewCheckboxEx.Components.Listview ViewModel="@ViewModel" SelectedItem="@(e => SelectedItem = e)">
</ListviewCheckboxEx.Components.Listview>

<br />

<h4>Current Selected item: <span>@(SelectedItem?.DocumentTypeName)</span></h4>

@code {
    ListviewItemModel SelectedItem;
}